{% extends 'base.html' %}

{% block title %}
イベント詳細
{% endblock %}

{% block content %}
<div class="content">
    <div class="event">
        <div class="events-button">
            <a href="{% url 'events:events_home' %}" class="back-btn">
                <button>戻る</button>
            </a>
            <a href="{% url 'events:events_image' event.event_id %}">
                <button>画像</button>
            </a>
            <a href="{% url 'events:events_detail' event.event_id %}">
                <button>詳細</button>
            </a>
            <a href="{% url 'events:goods_detail' event.event_id %}">
                <button>グッズ</button>
            </a>
        </div>
        <div class="tables">
            <div class="table-title">
                <h2>{{ event }}</h2>
            </div>
            <div class="element">
                <div class="detail-row">
                    <h5 class="label">推し</h5>
                    {% if event.oshi_id %}
                        <h5>{{ event.oshi_id }}</h5>
                    {% else %}
                        <h5>設定されていません</h5>
                    {% endif %}
                </div>
                <div class="detail-row">
                    <h5 class="label">場所</h5>
                    {% if event.location %}
                        <h5 class="value">{{ event.location }}</h5>
                    {% else %}
                        <h5>設定されていません</h5>
                    {% endif %}
                </div>
                <div class="detail-row">
                    <h5 class="label">日時</h5>
                    <h5 class="value">{{ event.date|date:"Y年m月d日" }}</h5>
                </div>
                <div class="detail-row">
                    <h5 class="label">メモ</h5>
                    <h5 class="value">{{ event.memo }}</h5>
                </div>
            </div>
            
            <div class="buttons">
                <a href="{% url 'events:events_edit' event.event_id %}">
                    <button>編集</button>
                </a>
                <a href="{% url 'events:events_delete' event.event_id %}">
                    <button>削除</button>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}