{% extends 'base.html' %}

{% block title %}
グッズ詳細
{% endblock %}

{% block content %}
<div class="content">
    <div class="event">
        <div class="events-button">
            <a href="{% url 'events:events_home' %}" class="back-btn">
                <button>戻る</button>
            </a>
            <a href="{% url 'events:events_image' event.event_id %}">
                <button>画像</button>
            </a>
            <a href="{% url 'events:events_detail' event.event_id %}">
                <button>詳細</button>
            </a>
            <a href="{% url 'events:goods_detail' event.event_id %}">
                <button>グッズ</button>
            </a>
            <div class="operation-button">
                <a href="">
                    <button>編集</button>
                </a>
                <a href="">
                    <button>削除</button>
                </a>
            </div>
        </div>
        <div class="tables">
            <div class="table-title">
                <h2>{{ event.title }}</h2>
            </div>
            <div class="element">
                {% if event_image %}
                    <img src="{{ event_image.url }}" alt="{{ event.title }}" class="event_image">
                {% endif %}
                {% if goods_iamge %}
                    <img src="{{ goods_image.url }}" alt="{{ event.title }}" class="event_image">
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}