{% extends 'base.html' %}

{% block title %}
支出編集
{% endblock %}


{% block content %}
    <div class="content">
        <div class="form-content">

            <div class="button-block">
                <a href="{% url 'money:money_home' %}">
                    <button>戻る</button>
                </a>
                <a href="{% url 'money:expenditure_delete' expenditure.pk %}">
                    <button clasas="delete-btn">削除</button>
                </a>
            </div>
            <form method="post" enctype="multipart/form-data" class="forms">
                {% csrf_token %}
                <div class="form-row">
                    <label for="id_title">内容</label>
                    {{ form.title }}
                </div>
                <div class="form-row side-row">
                    <div>
                        <label for="id_amount">金額</label>
                        {{ form.amount }}
                    </div>
                    <div>
                        <label for="id_category">カテゴリー</label>
                        {{ form.category }}
                    </div>
                </div>
                <div class="form-row">
                    <label for="id_date">日付</label>
                    {{ form.date }}
                </div>
                <div class="form-row">
                    <label for="id_memo">メモ</label>
                    {{ form.memo }}
                </div>

                <button class="submit-btn" type="submit">送信</button>

            </form>
        </div>
    </div>
{% endblock %}