{% extends 'base.html' %}

{% block title %}
収入編集
{% endblock %}

{% block content %}
    <div class="content">
        <div class="form-content">
            <div class="button-block">
                <a href="{% url 'money:money_home' %}">
                    <button>戻る</button>
                </a>
                <a href="{% url 'money:income_delete' income.pk %}">
                    <button clasas="delete-btn">削除</button>
                </a>
            </div>
            <form method="post" enctype="multipart/form-data" class="forms">
                {% csrf_token %}
                <div class="form-row">
                    <label for="id_amount">金額</label>
                    {{ form.amount }}
                </div>
                <div class="form-row">
                    <label for="id_type">種類</label>
                    {{ form.type }}
                </div>

                <div class="form-row">
                    <label for="id_date">日付</label>
                    {{ form.date }}
                </div>

                <button class="submit-btn" type="submit">送信</button>

            </form>
        </div>
    </div>
{% endblock %}