{% extends 'base.html' %}

{% block title %}
収支管理
{% endblock %}

{% block content %}
    <div class="content">
        <div class="tables money">
            <div class="table-title">
                <h3>収支</h3>
            </div>
            <div class="table">
                <table cellspacing="0" cellpadding="5" class="records">
                    <thead>
                        <tr>
                            <th>種類</th>
                            <th>日付</th>
                            <th>金額</th>
                            <th>変更</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for record in records %}
                        <tr>
                            <td>{{ record.type }}</td>
                            <td>{{ record.date|date:"Y/m/d" }}</td>
                            <td class="price">{{ record.amount }}円</td>

                        <td>
                            {% if record.model == 'income' %}
                                <a href="{% url 'money:income_edit' record.pk %}" class="a-black">→</a>
                            {% else %}
                                <a href="{% url 'money:expenditure_edit' record.pk %}" class="a-black">→</a>
                            {% endif %}
                        </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="3">データがありません</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="buttons">
            <div class="text-center bm-3">
                <a href="{% url 'money:income' %}">
                    <button type="submit">収入</button>
                </a>
            </div>
            <div class="text-center bm-3">
                <a href="{% url 'money:expenditure' %}">
                    <button type="submit">支出</button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}