{% extends 'base.html' %}

{% block title %}
グッズ詳細
{% endblock %}

{% block content %}
    <div class="content">
        {% if events_dict %}
            {% for event, data in events_dict.items %}
                <div class="tables">
                    <div class="table">
                        <h2 class="table-title">{{ event }}</h2>
                        <table cellspacing="0" cellpadding="5" class="records">
                            <thead>
                                <tr>
                                    <th>種類</th>
                                    <th>単価</th>
                                    <th>個数</th>
                                    <th>合計金額</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for record in data.goods_list %}
                                    <tr>
                                        <td>{{ record.goods_name }}</td>
                                        <td class="price">{{ record.price }}円</td>
                                        <td class="num">
                                            <div class="num-control">
                                                {{ record.num }}個
                                            </div>
                                        </td>
                                        <td class="price">{{ record.total_price }}円</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th colspan="2"></th>
                                    <th>合計金額</th>
                                    <th class="price">{{ data.event_total }}円
                                    </th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>データがありません</p>
        {% endif %}
    {% endblock %}
{% endblock %}