{% extends 'base.html' %}

{% block title %}
グッズ編集
{% endblock %}

{% block content %}
    <div class="content">
        <div class="form-content">
            <div class="button-block">
                <a href="{% url 'events:events_detail' event.event_id %}">
                    <button>戻る</button>
                </a>
                <a href="{% url 'goods:goods_delete' event.event_id  goods.goods_id %}">
                    <button clasas="delete-btn">削除</button>
                </a>
            </div>
            <div class="forms">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-row">
                        <label for="id_event">イベント</label>
                            {{ form.event }}
                    </div>

                    <div class="form-row side-row">
                        <div>
                            <label for="id_goods_name">グッズ名</label>
                                {{ form.goods_name }}
                        </div>
                        <div>
                            <label for="id_category">カテゴリー</label>
                                {{ form.category }}
                            </label>
                        </div>
                    </div>
                    <div class="form-row side-row">
                        <div>
                            <label for="id_price">価格</label>
                                {{ form.price }}
                        </div>
                        <div class="form-num">
                            <label for="id_num">個数
                                {{ form.num }}
                            </label>
                        </div>
                    </div>
                    <div class="form-row">
                        <label for="id_image">画像</label>
                            {{ form.goods_image }}
                    </div>
                    <div class="form-row">
                        <label for="id_memo">メモ</label>
                            {{ form.memo }}
                    </div>

                    <button class="submit-btn" type="submit">送信</button>

                </form>
            </div>
        </div>
    </div>
{% endblock %}