{% extends 'base.html' %}

{% block title %}
グッズ詳細
{% endblock %}

{% block content %}
    <div class="content">
        <div class="table-title">
            <h5>{{ event.title }}</h5>
        </div>
        <form method="post" enctype="multipart/form-data" class="forms">
            {% csrf_token %}
            <div class="form-row">
                <label for="id_event">イベント</label>
                    {{ form.event }}
            </div>

            <div class="form-row">
                <label for="id_goods_name">グッズ名</label>
                    {{ form.goods_name }}
            </div>
            <div class="form-row">
                <label for="id_category">カテゴリー</label>
                    {{ form.category }}
                </label>
            </div>
            <div class="form-row">
                <label for="id_price">価格</label>
                    {{ form.price }}
                </label>
            </div>
            <div class="form-row">
                <label for="id_num">個数</label>
                    {{ form.num }}
                </label>
            </div>
            <div class="form-row">
                <label for="id_image">画像</label>
                    {{ form.goods_image }}
            </div>
            <div class="form-row">
                <label for="id_memo">メモ</label>
                    {{ form.memo }}
            </div>

            <button class="submit-btn" type="submit">送信</button>

        </form>
    </div>
{% endblock %}